PORT=5000
MONGO_URI=mongodb://localhost:27017/nittfest
JWT_SECRET=secret

# Replace these with your actual DAuth credentials
DAUTH_CLIENT_ID=05V9-VeOw83hhpbl
DAUTH_CLIENT_SECRET="dskdvbsvdnms"
DAUTH_REDIRECT_URI=h"dsds"

# Razorpay (fill with your keys from Razorpay dashboard)
RAZORPAY_KEY_ID="rzp_test_SMQK"
RAZORPAY_KEY_SECRET="6u5FJkWvqnqGLdc3VnTSmqbcdsdsdsdsds"

# Google Sheets integration
GOOGLE_SERVICE_ACCOUNT_EMAIL="anshul@booking-stats-301912.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="private_key_here"
GOOGLE_SHEETS_ID="id"